﻿.detalleFoto
{
	/*float:left;*/
	padding:5px;
	top:0px;
	max-height:100px;
    height: 141px;
}

#cargando
{
	position:absolute;
	top:10px;
	right:50px;
	background-color:Red;
	color:White;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:5px;
}

#canasto
{
	float:right;
	width:290px;
	background-color:#eeeded;
	color:White;
	height:400px;
	overflow:hidden;
}

#listaCanasto
{
	padding:15px;
	height:60%;
}

.nombreProducto
{
    /*width:300px;
    float:left;*/
    cursor:pointer;
}

.precioProducto
{
	width:70px;
	font-weight:bold;
	text-align:right;
	float:left;
}

.agregarProducto
{
    width:150px;
    font-weight:bold;
    cursor:pointer;
    color:Purple;
    /*float:right;*/
    text-align:right;
}

.agregarProducto hover
{
	width:20%;
	font-weight:bold;
	color:Red;
}

.filaCanasto
{
	background:#000099;
    margin:1px;
    padding:2px;
}

.totalCanasto
{
	background:#990000;
	font-weight:bold;
	font-size:large;
}

.canastoNombre
{
	width:110px;
}

.canastoPrecio
{
	width:40px;
	text-align:right;
}

.canastoCantidad
{
	width:70px;
	text-align:right;
}

.canastoQuitar
{
	color:White;
	font-size:small;
	text-align:right;
	padding-left:2px;
}

#btnFinalizar
{
	margin-top:15px;
	font-size:larger;
	background-color:White;
}

#finalizacion
{
	width:400px;
	background-color:White;
	border:2px gray solid;
	padding:15px;
}

#ventanaModal
{
	visibility:hidden;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index:1000;
    background-image:url(../IMAGENES/modal.gif);
}

#ventanaModal div
{
	margin:100px auto;
}
