﻿	.ListadoProductos li
{
	font-family: "Segoe Print";
	display: inline;
	float: left;
	margin-bottom: 15px;
	margin-left: 15px;
}
.Navegador
{
	    font-size:16;
	    font-family:Arial;
		width:900px;
		margin: 0 auto;
		display:inline;
		position:relative;
		overflow:hidden;

}

.EstiloList{
		background: #eeeded;
		padding:5px;
		margin-bottom: 20px;
		/*width:277px;*/
		overflow:hidden;
		display:list-item;
		font-size:11px;
		 position:relative;
		/*line-height: 18px;*/
		color: #58584D;
	}
	.EstiloBorde li
	{
				border: 1px dashed #d9e0e8;
				background: #eeeded;
				padding:5px;
				float:left;	             
	            display:inline;
	            margin-bottom: 15px;
				margin-left: 15px;
				font-size:11px;
	}
	
.Titulos
{
  font-size:14px;
  font-weight:bold;
  
}
