/*@charset "UTF-8";
/* =CALL LIBRARY */
	@import url("reset-min.css"); /* ------- Reset all CSS Styles */

/* =GENERAL - the general styles */
	body{
		font: 62.5%/2.2em "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
		color: #4b4942;
		background: #fff;
	}
	a{text-decoration: none;color: #5599a7;}
	a:hover{color: #bb800f;}
	hr{display: none;}
	strong{font-weight: bold;}
	ul.borderedlist li{
		border-bottom: 1px dashed #d1cfcd;
	}
	ul.borderedlist li a{
		display: block;
		padding:3px 0 0 2px;
		height: 26px;
		color: #42423b;
	}
	ul.borderedlist li a:hover{background: #E5E5E4;color: #42423b;}

/* =LAYOUT - the main layout styles */
	.container{
		width:900px;
		margin: 0 auto;
		position: relative;
		overflow:hidden;
	}
	#navigation{
		position: absolute;
		right: 0;
		top:20px;
	}
	/* main area layout */
	#main{padding:24px 0 20px 0;}
	#leftcolumn{float: left;width:193px;}
	#center{float: left;width:573px;padding:0px 20px 0px 0px;}
	#rightcolumn{float: left;width:287px;}
	/* bottom layout */
	#bottominfo{
		border-top: 5px solid #42423b;
		background: #f1eee7;
		padding-bottom:25px;
		width: 100%;
		overflow: hidden;
	}
	.bottomcolumn{
		float: left;
		width:288px;
		margin-right: 18px;
	}
	.bottomright{margin-right:0;}
	


	
/* =CONTENT - the content styles */
	/* left column */
	.leftbox{background: #f1f0ef;padding: 10px 23px 10px 23px;margin-bottom:3px;line-height:1.8em;}
	h3.leftbox{font-size:19px;color: #8c8685; background: #f1f0ef url(../images/h3_bg_tall.jpg) 0 0 repeat-x;padding:5px 0 10px 23px;
    width: 307px;
}
	h3.header_small{font-size:15px;font-weight: bold;background: #f1f0ef;padding:0 23px 5px 23px;}
	ul.leftbox{font-size: 1.2em;}

	.features{padding-top:15px;font:1.27em Arial, Helvetica, sans-serif;}
	
	#leftcolumn .leftbox p{padding-bottom:1em;line-height:1.5em; font-size:12px}	
	/* center column */
	.article_wrapper h2{color: #5699A7; font-size:2em;margin:10px 0;}
	.article_wrapper p{padding-bottom:10px;font-size:1.3em;}	
	/* right column */
	#Canasto
	{
	    line-height:1.8em;
	    padding:10px 23px 10px 23px;
		float:right;
		/*border:1px dashed;*/
		background: #eeeded;
		padding:5px;
		margin-bottom: 3px;
		width:275px;
		height:400px;
		overflow: hidden;
		font-size:11px;
		line-height: 18px;
		color: #58584D;
	}
	.rightbox{border: 1px dashed #d9e0e8;width:275px;overflow: hidden;padding-bottom:6px;}
	.product_image{ float: left;margin: 6px 0 0 6px;}
	.product_wrapper{float: right;width:200px;}
	.product_wrapper h4{font-size:1.3em;color: #483F3D;font-weight: bold;padding-top:10px; float:left;}
	.product_wrapper p{font-size:1em;}
	.lastbox{margin:0;}
/* =BOTTOM */
	.bottomcolumn h3{
		border-bottom: 4px solid #9b968f;
		color: #5699A7; font-size:18px;padding:15px 0 5px 5px;
	}
	.bottomcolumn p{
		padding: 10px 35px 10px 5px;
		font-size: 1.2em;
	}
	.iconlist{
		border-top: 1px dashed #d1cfcd;
		font-size: 1.2em;
	}
	ul.iconlist li a{
		padding-left: 25px;
		background: url(../images/footer_list.jpg) left bottom no-repeat;
	}
	ul.iconlist  li a:hover{background: #E9E4DE url(../images/footer_list.jpg) left top no-repeat;color: #42423b;}
	.enewsbox{
		float: left;
		width: 180px;
		height: 17px;
		padding:3px 5px;
		border: 4px solid #5599A7;
		font-size:13px;
	}
	
	
	.default p{
		padding: 10px 5px 10px 5px;
		font-size: 1.2em;
	}