body {
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 11px;
	text-align: center;
	background: url(images/page_bg.jpg);
	color: #6f6f6f;
}

html, body, #wrapper, h1, #nav-top, #nav-top li, #nav-left, #nav-top li {
	margin: 0;
	padding: 0;
	list-style: none;
}

th, td {
	font-size: 11px;
}

img { border: 0; }

#wrapper {
	margin: 16px auto;
	text-align: left;
	width: 750px;
	position: relative;
}

h1, h2, h3 {
	font-size: 10px;
}


h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0 0 0 0;
	padding: 0;
}

h3 {
	padding: 4px 0 0 0;
}

p {
	margin: 1em 0;
	padding: 0;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 1px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1px;
	line-height: 1px;
}

* html .clear {
	margin-top: -5px;
	margin-bottom: -4px;
}

.left {
	float: left;
	margin: 1px 8px 0px 0px;
}

.softright {
	text-align: right;
}

.readmore {
	text-align: right;
}

/* ***** */

body {
	background: #5D1F1F;
	color: #251200;
}

#wrapper {
	width: 780px;
	background: #AD803D;
}

a {
	color: #422100;
}

a:hover {
	color: #231201;
}

#body #events .readmore a, #body .readmore a, #hotstuff .readmore a {
	color: #e2c3a5;
	text-decoration: none;
}

#body .readmore a:hover, #body #events .readmore a:hover, #hotstuff .readmore a:hover {
	text-decoration: underline;
}

/* header */

#header {
	background: url(images/header.jpg) top left no-repeat;
	height: 299px; width: 100%;
	margin: 0;
	border-bottom: 1px solid white;
}

#header h1 {
	text-align: right;
}

#header #nav {
	font-size: 9px;
	text-align: center;
	background: #170E01;
	color: #D4A66F;
	font-weight: bold;
	width: 489px;
	position: absolute;
	top: 86px;
	left: 291px;
	padding: 9px 0 10px 0;
	margin: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#header #nav li {
	display: inline;
}

#header #nav a {
	color: #D4A66F;
	text-decoration: none;
}

#header #nav a:hover {
	color: #fff;
	text-decoration: underline;
}

#header #welcome {
  position: absolute;
  top: 122px; left: 291px;
  width: 470px; height: 173px;
  overflow: auto;
}

#header #welcome h2 {
	padding: 0.2em 0 0 0;
	margin: 0;
	line-height: 1;
}

#header #welcome p {
	margin: 0.5em 0;
}

* html #header #welcome p {
	margin: 0.5em 0;
}

#header #welcome p {
	padding-left: 2em;
}

/* body */

#body {
	position: relative;
	color: #251200;
	background: url(images/body_bg.gif) repeat-y;
}

#body-i {
	width: 100%;
	background: url(images/photo.jpg) top right no-repeat;
}

#body #hevents {
	position: absolute;
	top: 0; left: 291px;
}

* html #body #hevents {
	position: relative;
	top: 0; left: 0;
	margin-top: -32px;
}

#body #specials {
	float: left;
	width: 286px;
	margin-left: 2px;
	display: inline;
}

#body #events {
	float: left;
	width: 235px;
	margin-left: 10px;
	display: inline;
}

#body .imagebox {
	padding: 2px 8px 2px 100px;
	margin: 2px 0;
	background: #9b6f2d 4px no-repeat;
}

#body h3, #body p {
	margin: 0 0 0.2em 0;
}

#body #events a {
	color: #ce9b5e;
}

#body #events a:hover {
	color: #fff;
}

#events .readmore {
	margin-bottom: 0;
}

/* hotstuff */

#hotstuff {
	width: 100%;
	background: url(images/hotstuff_bg.gif) repeat-y;
}

* html #hotstuff {
	padding-bottom: 10px;
}

#hotstuff h2 {
	background: #3b2000;
	border-top: 1px solid #fff;
}

* html #hotstuff h2 {
	width: 100%;
}

#hotstuff .imagebox {
	padding: 2px 8px 2px 103px;
	margin: 2px 0;
	background: 4px no-repeat;
	float: left;
	width: 200px;
}

#hotstuff #hot-one   { width: 180px; }
#hotstuff #hot-two   { width: 140px; margin-left: 2px; }
#hotstuff #hot-three { width: 120px; margin-left: 2px; }

* html #hotstuff #hot-one   { width: 290px; w\idth: 180px; }
* html #hotstuff #hot-two   { width: 250px; w\idth: 140px; }
* html #hotstuff #hot-three { width: 230px; w\idth: 120px; }

#hotstuff h3, #hotstuff p {
	margin: 0 0 0.2em 0;
}

* html #spacer {
	margin-top: 8px;
}

/* footer */

#footer {
	padding-bottom: 2em;
}

#footer, #footer a {
	color: #986D6D;
}

#footer a:hover {
	color: #fff;
}

.fmr {padding: 10px; width: 5%;}
.fmr tr td label {
    width: 10px;
}
.fmr-input {
    width: 221px;
}
.fmr input[type=submit]:hover {
    background-color: #ffffff;
    color: #3b2000;
    text-decoration: underline;
    cursor: pointer;
}
.fmr input[type=submit] {
    background-color: #3b2000;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 79px;
}

.estilo-borde li a:hover {
    text-decoration: underline;
    color: #3b2000;
    font-weight: bold;
}
.estilo-borde li a {
    text-decoration: none;
    color: purple;
}
.estilo-borde li {
    border: 2px solid #ffffff;
    background-color: #e3e3e3;
    width: 160px;
    padding: 3%;
    margin-top: 10px;
    border-radius: 5px;
}
.pagination {
    margin-top: 20px;
    background-color: #ffffff;
}
.pagination li:hover {

}
.pagination li.active {
    color: #AD803D;
}
.pagination li {
    display: inline;
    margin: 5px;
    font-size: 18px;
}
.cart-holder li:last-child{
    float: right;
}
.cart-holder li {
    display: inline;
}
.cart-holder {
    font-size: 14px;
    background-color: blue;
    padding: 1%;
    color: #ffffff;
}

.title {
    font-size: 2em;
    padding: 5px;
    padding-bottom: 0;
    font-weight: bold;
}
.display {
    display: inline-flex;
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}
.right {
    float: right;
    margin-left: 80%;
}

.container {
    width: 90%;
    margin: 0 3%
}
.row {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

.col-left {
    float: left;
    margin-left: 10px;
}
.col-center {
    float: left;
    margin-left: 10px;
}
.col-right {
    float: right;
    margin-left: 0px;
}


.form    {
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:550px;

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    /*color: #09C;*/
    color: #422100;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input    {
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#feedback {
    width:375px;
    height:150px;
}
textarea.message {
    display:block;
}

input.submit {
    width:100px;
    position:absolute;
    right:20px;
    bottom:20px;
    background:#09C;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    border-radius: 15px;
    border: 1px solid #999;
}
input.submit:hover {
    background:#fff;
    color:#09C;
}

textarea:focus, input:focus {
    border: 1px solid #09C;
}

.text-danger {
    color: darkred;
}

.notify {
    font-size: 3em;
    margin-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-naked:hover {
    cursor: pointer;
}
.btn-naked {
    border: none;
    padding: 0;
    background-color: transparent;
}
.not-added,.added:hover {color:black;}
.not-added:hover, .added {color: red;}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }